In [ ]:
#using Pyspark

In [15]:
import pandas as pd

df = pd.read_csv('books.csv')

In [16]:
df.head()

   Unnamed: 0        asin      reviewerID  overall
0           0  000100039X  A2S166WSCFIFP5      5.0
1           1  000100039X  A1BM81XB4QHOA3      5.0
2           2  000100039X  A1MOSTXNIO5MPJ      5.0
3           3  000100039X  A2XQ5LZHTD4AFT      5.0
4           4  000100039X  A3V1MKC2BVWY48      5.0

In [17]:
df.drop(columns = ['Unnamed: 0'], inplace=True)

In [32]:
def make_unique_nums(column, df):
    unique_nums={}

    for x, y in enumerate(df[column].unique()):
        unique_nums[y] = x 
    
    return(unique_nums)

In [33]:
book_id = make_unique_nums('asin', df)

In [34]:
user_ids = make_unique_nums('reviewerID', df)

In [35]:
df['asin'] = df['asin'].map(book_id)

In [36]:
df['reviewerID'] = df['reviewerID'].map(user_ids)

In [38]:
df.head()

   asin  reviewerID  overall
0     0           0      5.0
1     0           1      5.0
2     0           2      5.0
3     0           3      5.0
4     0           4      5.0

In [43]:
df.to_csv("num_ratings_only.txt",  sep="\t", index = False, header=False)

In [44]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row

lines = spark.read.text("num_ratings_only.txt").rdd

In [47]:
parts = lines.map(lambda row: row.value.split("\t"))
ratingsRDD = parts.map(lambda p: Row(userId=int(p[0]), bookId=int(p[1]),
                                     rating=float(p[2])))

In [48]:
ratings = spark.createDataFrame(ratingsRDD)
(training, test) = ratings.randomSplit([0.8, 0.2])

# Build the recommendation model using ALS on the training data
# Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
als = ALS(maxIter=5, regParam=0.01, userCol="userId", itemCol="bookId", ratingCol="rating",
          coldStartStrategy="drop")
model = als.fit(training)

# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

# Generate top 10 book recommendations for each user
userRecs = model.recommendForAllUsers(10)
# Generate top 10 user recommendations for each book
movieRecs = model.recommendForAllItems(10)

Root-mean-square error = 3.6064269880951385